@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.footer {
  width: 100%;
  margin-top: 4%;
  left: 5%;
  right: 0;
  padding: 3px;
  text-align: center;
  border-top: solid black;
  align-content: center;
  align-items: center;
  }
  
  .footer a {
    color: black;
  }
  
  .footer a:hover {
    color: rgb(43, 202, 226);
  }
  
  .createdBy {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-right: 5rem;
    margin-left: 10%;
  }
  
  .socials {
    display: inline-block;
    font-size: 40px;
    margin-top: 1rem;
  }
  
  .socials a:hover {
    color: rgb(43, 202, 226);
  }