@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.footer {
  margin-top: auto;
  left: 0;
  right: 0;
  padding: 3px;
  text-align: center;
  border-top: solid black;
  }
  
  .footer a {
    color: black;
  }
  
  .footer a:hover {
    color: rgb(43, 202, 226);
  }
  
  .createdBy {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
  }
  
  .socials {
    
  }
  
  .github {
    display: inline-block;
    font-size: 40px;
    margin: 0 20px 0 20px;
  }
  
  .linkedin {
    display: inline-block;
    margin: 0 20px 0 20px;
    font-size: 40px;
  }
  
  .github, .linkedin a:hover {
    color: rgb(43, 202, 226);
  }