@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.footer {
    position: absolute;
   bottom: 0;
   width: 100%;
   display:flex;
    align-items: center;
    border-top: 2px solid rgb(0, 0, 0);
    height: 8%;
  }
  
  .footer a {
    color: black;
  }
  
  .footer a:hover {
    color: rgb(43, 202, 226);
  }
  
  .createdBy {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin-left: 35%;
  }
  
  .socials {
  }
  
  .github {
    display: inline-block;
    margin: 0 2rem 0 20rem;
    font-size: 40px;
  }
  
  .linkedin {
    display: inline-block;
    margin: 0 20px 0 20px;
    font-size: 40px;
  }
  
  .github, .linkedin a:hover {
    color: rgb(43, 202, 226);
  }