@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.navbar {
    max-width: 15%;
    height: 100%;
    color:black !important;
    position: fixed;
    border-right: solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
  }

  .logo {
    list-style-type: none;
    height: 7rem;
    width:auto;
    margin: 1.5rem 0 2.5rem 0;
  }

  a {
    list-style-type: none;
    color:black !important;
    text-decoration: none;
  }

  .pages {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    color:black !important;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 2rem;

  }
  
  .navbar a:hover {
    color:#07d8d2 !important;
  }
  
  .home {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    max-width: 500px;
  }