@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/title.css';
@import './styles/projects.css';

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 
 body {
  display: flex;
  flex-direction: column;
  min-height: 90%;
 }

 .home-content {
   height: 100%;
 }

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: black;
}

/*********************** Header ***********************/

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 50px;
  
}

/*********************** Typed Text ***********************/

.typed-text {
  font-size: 4rem;
  color: rgb(43, 202, 226);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -4rem;
  margin-left: 8%;
}

/*********************** Home Body ***********************/

.container {
max-width: 700px;
margin:auto;
 display: block;
 position: relative;
 z-index: 1;
}

.portrait {
  height: auto;
  width: 80%;
  margin: 8rem 0 4.375rem 0;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  position: relative;
  left: -20%;
}

.container p {
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  width: 80%;
  height: auto;
  top: 20rem;
  left: 65%;
  line-height: 3rem;
  position: absolute;
  color:black;
}

.webdev {
  color: rgb(43, 202, 226);
}
