@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/title.css';

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 html,
 body, #root {
  height: 100%;
  position: relative;
 }

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: black;
}

/*********************** Header ***********************/

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 50px;
}

/*********************** Typed Text ***********************/

.typed-text {
  font-size: 4rem;
  color: rgb(43, 202, 226);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -4rem;
}

/*********************** Home Body ***********************/

.container {
max-width: 700px;
margin:auto;
 display: block;
 position: relative;
}

.portrait {
  height: auto;
  width: 50%;
  margin: 8rem 0 4.375rem 0;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  float:left;
  position: relative;
}

.container p {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  width: 60%;
  float: right;
  right: -18%;
  top: 18rem;
  line-height: 2.25rem;
  position: absolute;
  color:black;
}

.webdev {
  color: rgb(43, 202, 226);
}