@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "../index.css";

body {
  background: rgb(33, 45, 82);
}

.contact-body {
  padding: 5% 10%;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  width: 100%;
  line-height: 20px;
  text-align: left;
  color: rgb(173, 181, 224);
}

.btn {
  font-family: "Quicksand", sans-serif;
  border: solid rgb(52, 252, 175);
  color: rgb(52, 252, 175);
  border-radius: 5px;
  padding: 0.25rem;
  text-align: center;
  font-size: 18px !important;
  width: 100px;

}

@media (min-width: 600px) {
    .contact-body {
        align-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .contact-info p {
        font-family: "Quicksand", sans-serif;
        font-size: 18px;
        width: 100%;
        line-height: 20px;
        text-align: center;
      
      }
      
      .btn {
        font-family: "Quicksand", sans-serif;
        border: solid rgb(52, 252, 175);
        color: rgb(52, 252, 175);
        border-radius: 5px;
        padding: 0.25rem;
        text-align: center;
        font-size: 18px !important;
        width: 100px;
      
      }
}

@media (min-width: 992px) {
  .contact-body {
      
      align-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .contact-info p {
      font-family: "Quicksand", sans-serif;
      font-size: 18px;
      width: 75%;
      line-height: 25px;
      text-align: left;
    
    }
    
    .btn {
      font-family: "Quicksand", sans-serif;
      border: solid rgb(52, 252, 175);
      color: rgb(52, 252, 175) !important;
      border-radius: 5px;
      padding: 0.25rem;
      text-align: center;
      font-size: 18px !important;
      width: 100px;

    
    }
}
