@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  padding: 3px;
  text-align: center;
  border-top: solid black;
  align-content: center;
  align-items: center;
  background-color: rgb(43, 202, 226);
  height: 110px;
  }
  
  .footer a {
    color: black;
  }
  
  .footer a:hover {
    color: white;
  }
  
  .createdBy {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-right: 5rem;
    margin-left: 10%;
  }
  
  .socials {
    display: inline-block;
    font-size: 40px;
    
  }
  
  .socials:hover {
    color: white !important;
  }