#root {
  background: rgb(33, 45, 82);
}

.PortfolioPage {
  position: relative;
}

.projects-container {
  margin: 5% 10%;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: saturate(0);
  border: solid rgb(52, 252, 175);
  border-width: 2px;
}

img:hover {
  filter: saturate(90%);
}

.hover-items > li > a {
  
  margin-left: 0;
}

.hover-items {
  list-style: none;
  margin-top: 15px;
  padding-left: 0;
}

a {
  font-size: 14px;
  margin-right: 15px;
}

.techs {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: bold;
  float: right;
  color: rgb(52, 252, 175);
  
}

a:hover {
  color: rgb(43, 202, 226) !important;
}

.portfolio h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  box-shadow: rgb(43, 202, 226);
  margin-top: 3rem;
  color: rgb(173, 181, 224);
}

.portfolio p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(173, 181, 224);
}

hr {
  margin-top: -3rem;
  height: 0.5rem;
  background: rgb(43, 202, 226);
}

@media (min-width: 600px) {
  .PortfolioPage {
    position: relative;
  }

  .projects-container {
    margin: 5% 10%;
  }

  .images {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: saturate(0);
    box-shadow: 5px 5px 5px rgb(119, 119, 120);
    border: solid rgb(43, 202, 226);
    border-width: 2px;
  }

  img:hover {
    filter: saturate(90%);
  }

  .hover-items {
    list-style: none;
    margin-top: 15px;
  }

  a {
    font-size: 16px;
    margin-top: 15px;
  }

  .techs {
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: right;
  
  }

  a:hover {
    color: rgb(52, 252, 175) !important;
  }

  .portfolio h5 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.25rem;
    box-shadow: rgb(43, 202, 226);
    margin-top: 5rem;
    color: rgb(173, 181, 224);
  }

  .portfolio p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  hr {
    margin-top: -3rem;
    height: 0.5rem;
    background: rgb(43, 202, 226);
  }
}

@media (min-width: 992px) {
  .PortfolioPage {
    max-width: 100%;
    position: relative;
    background: rgb(33, 45, 82);
  }

  .projects-container {
    margin: 0 10%;
    position: relative;
    height: 120%;
  }

  .web-projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    left: 20%;
  }

  .images {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: saturate(0);
    box-shadow: 5px 5px 5px rgb(119, 119, 120);
    border: solid rgb(43, 202, 226);
    border-width: 2px;
  }

  img:hover {
    filter: saturate(90%);
  }

  .hover-items {
    list-style: none;
    margin-left: -25px;
  }

  .hover-items > li > a {
    font-size: 16px !important;
  }


  .techs {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: bold;
    float: right;
  
  }

  a:hover {
    color: rgb(52, 252, 175) !important;
  }

  .portfolio h5 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.25rem;
    box-shadow: rgb(43, 202, 226);
    margin-top: 5rem;
  }

  .portfolio p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  hr {
    margin-top: -3rem;
    height: 0.5rem;
    background: rgb(43, 202, 226);
  }

  .desc {
    margin-top: 25px;
  }
}
