@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/title.css';
@import './styles/projects.css';




* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }

 .home-content {
   background: rgb(33, 45, 82);
   height: 100vh;
 }
 
 body {
  display: flex;
  flex-direction: column;
  height: 100%;  position: relative;
 padding-bottom: 100px;
 min-height: 100vh;
 }
 
 h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: black;
}


/*********************** Home Body ***********************/


.bio {
  width: 60%;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
}

.portrait {
  height: auto;
  width: 18%;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  margin: 25px 0 25px 0;
}

.bio p {
  font-family: 'Quicksand', sans-serif;
 padding: 0 10% 0 10%;
  font-size: 14px;
  height: auto;
  line-height: 20px;
  color: rgb(173, 181, 224);
  text-align: left;
}

 @media (min-width:600px){
 
  h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: black;
  }
  
  
  /*********************** Home Body ***********************/
 
  
  .bio {
    width: 60%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  }
  
  .portrait {
    height: auto;
    width: 18%;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    margin-bottom: 40px;
  }
  
  .bio p {
    font-family: 'Quicksand', sans-serif;
   padding: 0 10% 0 10%;
    font-size: 16px;
    height: auto;
    line-height: 25px;
    color: rgb(173, 181, 224);
    text-align: left;
  }
 
  }
 

 @media (min-width:990px){
 
 h1{
   font-family: 'Quicksand', sans-serif;
   font-size: 30px;
   color: black;
 }
 
 
 /*********************** Home Body ***********************/

 
 .bio {
   width: 60%;
   display: flex;
   flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 }
 
 .portrait {
   height: auto;
   width: 18%;
   border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
   margin-bottom: 40px;
 }
 
 .bio p {
   font-family: 'Quicksand', sans-serif;
  padding: 0 10% 0 10%;
   font-size: 16px;
   height: auto;
   line-height: 30px;
   color: rgb(173, 181, 224);
   text-align: left;
 }

 }



/*********************** Typed Text ***********************/
/*
.typed-text {
  font-size: 3rem;
  color: rgb(43, 202, 226);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -2rem;
  margin-left: 20%;
}
*/