@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/title.css';
@import './styles/projects.css';




* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 
 body {
  display: flex;
  flex-direction: column;
  min-height: 90%;
 }

 .home-content {
   height: 100%;
 }

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: black;
}

/*********************** Header ***********************/

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 50px;
  
}

/*********************** Typed Text ***********************/
/*
.typed-text {
  font-size: 3rem;
  color: rgb(43, 202, 226);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -2rem;
  margin-left: 20%;
}
*/
/*********************** Home Body ***********************/

.container {
margin:auto;


}

.content-div {
  width: 40%;
}

.portrait {
  height: auto;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.container p {
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  height: auto;
  line-height: 3rem;
  color:black;
  margin-top: 60%;
}

.webdev {
  color: rgb(43, 202, 226);
}
