@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/title.css';
@import './styles/projects.css';




* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 
 body {
  display: flex;
  flex-direction: column;
  height: 100%;  position: relative;
 padding-bottom: 100px;
 min-height: 100vh;
 }


  .home-content {
    position: relative;
    
  }
 
 h1{
   font-family: 'Quicksand', sans-serif;
   font-size: 30px;
   color: black;
 }

 /*********************** Home Body ***********************/
 
 .home-container {
 margin:5%;
 
 }
 
 .content-div {
   width: 40%;
 }
 
 .portrait {
   height: auto;
   width: 100%;
   border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
   margin-top: 40px;
 }
 
 .info p {
   font-family: 'Quicksand', sans-serif;
   font-size: 35px;
   height: auto;
   width: 100%;
   line-height: 3rem;
   color:black;
   margin-top: 40px;
 }
 
 .webdev {
   color: rgb(43, 202, 226);
 }
 
 

 @media (min-width:990px){
  .home-content {
    padding: 120px;
  }
 
 h1{
   font-family: 'Quicksand', sans-serif;
   font-size: 30px;
   color: black;
 }
 
 
 /*********************** Home Body ***********************/
 
 .home-container {
 margin:auto;
 position: relative;
 
 }
 
 .content-div {
   width: 40%;
 }
 
 .portrait {
   height: auto;
   width: 100%;
   border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
   margin-top: 40px;
 }
 
 .info p {
   font-family: 'Quicksand', sans-serif;
   font-size: 35px;
   height: auto;
   width: 100%;
   line-height: 3rem;
   color:black;
   
 }
 
 .webdev {
   color: rgb(43, 202, 226);
 }
 }



/*********************** Typed Text ***********************/
/*
.typed-text {
  font-size: 3rem;
  color: rgb(43, 202, 226);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -2rem;
  margin-left: 20%;
}
*/